body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f65058;
  color: #f8f9fb;
}

h1,
p {
  text-align: center;
}

h1 {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1), 1px 4px 8px rgba(0, 0, 0, 0.15);
  color: #f1f2f3;
  font-size: 3rem;
}

.container {
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 1rem;
  border-radius: 3rem;
  border: 5px dashed #fbde44;
  background-color: #28334a;
  background-clip: padding-box;
  padding: 3rem;
}

.carousel-wrapper {
  width: 60%;
  margin: 0 auto;
}
.owl-item {
  .item {
    img {
      width: 100%;
      height: auto;
      margin: -10% auto;
    }
  }
}
.item {
  box-sizing: content-box;
  background-color: green;
  color: #fff;

  width: 98%;
  height: 250px;
  box-shadow: inset -4px 6px 20px 3px rgba(0, 0, 0, 0.5);
  h4 {
    padding: 0 15px;
    z-index: 100;
    position: absolute;
    top: 0;
    font-size: 30px;
    margin: 20px 10px;
  }
  img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.owl-next,
.owl-prev {
  border: none;
  position: absolute;
  top: -5px;
  height: 250px;
  box-sizing: border-box;
  background-color: transparent;
  transition: background-color 0.4s;
  vertical-align: center;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; /* column | row */

  &:hover {
    opacity: 1;
  }
}

.owl-next {
  right: -50px;
}

.owl-prev {
  left: -50px;
}
